workflow.json
{
  "name": "Automation Agency Intake Router",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Automation Agency — Client Intake Form",
        "formDescription": "Tell us about your business and what you'd like automated. We'll be in touch shortly.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Business Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "E-commerce"
                  },
                  {
                    "option": "Service Business"
                  },
                  {
                    "option": "Hospitality"
                  },
                  {
                    "option": "Healthcare"
                  },
                  {
                    "option": "Other"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "What You Want Automated",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "8276be88-e8a8-4238-b1b4-3efa18311471",
      "name": "On form submission",
      "webhookId": "18242773-1b52-4aed-9d71-db5e9a73a9fe"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1d6kfve8569bPW9PgSHplUTD5lDODfKJZ-YfI47r0IOQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d6kfve8569bPW9PgSHplUTD5lDODfKJZ-YfI47r0IOQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json[\"Name\"] }}",
            "Business Type": "={{ $json[\"Business Type\"] }}",
            "What You Want Automated": "={{ $json[\"What You Want Automated\"] }}",
            "Submitted At": "={{ $json[\"submittedAt\"] }}",
            "Email": "={{ $json['Email'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Business Type",
              "displayName": "Business Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What You Want Automated",
              "displayName": "What You Want Automated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        -128
      ],
      "id": "677c21e1-c597-49a8-a55c-b864286c896d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dz5WRVVTNBMfPelT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email'] }}",
        "subject": "=Thanks for reaching out, {{ $json[\"Name\"] }}!",
        "message": "=<p>Hi {{ $json[\"Name\"] }},</p>  <p>Thank you for reaching out to us! We've received your enquiry and will be in touch shortly.</p>  <p>Here's a summary of what you submitted:</p>  <ul>   <li><strong>Business Type:</strong> {{ $json[\"Business Type\"] }}</li>   <li><strong>What You Want Automated:</strong> {{ $json[\"What You Want Automated\"] }}</li> </ul>  <p>We'll review your details and get back to you soon.</p>  <p>The Automation Agency</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        -128
      ],
      "id": "b65fdc91-b914-454d-b9d1-b8e6fbb95fa6",
      "name": "Client confirmation",
      "webhookId": "117910f3-3e60-4a60-b2d2-f1edb334c938",
      "credentials": {
        "gmailOAuth2": {
          "id": "DanVFf6G6VnNGRfC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "=New Client Intake: {{ $('Append row in sheet').item.json[\"Name\"]  }} - {{ $('Append row in sheet').item.json['Business Type'] }}",
        "message": "=<h2>New Client Enquiry</h2>  <p><strong>Name:</strong> {{ $('Append row in sheet').item.json[\"Name\"]  }} </p> <p><strong>Email:</strong> {{ $('Append row in sheet').item.json['Email'] }}</p> <p><strong>Business Type:</strong> {{ $('Append row in sheet').item.json['Business Type'] }}</p> <p><strong>What They Want Automated:</strong> {{ $('Append row in sheet').item.json['What You Want Automated'] }}</p> <p><strong>Submitted At:</strong> {{ $('Append row in sheet').item.json['Submitted At'] }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        368,
        64
      ],
      "id": "2596d115-bad4-4a51-89c2-00fa9276a699",
      "name": "Agency notification",
      "webhookId": "783c1ce0-599a-4ab8-9dd8-91284265203c",
      "credentials": {
        "gmailOAuth2": {
          "id": "DanVFf6G6VnNGRfC",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Client confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client confirmation": {
      "main": [
        [
          {
            "node": "Agency notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "423d7acd-b327-4388-b3fb-7c2a8eff0b30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0cc4fd632c364513c5f8cef8fa49d0ccffadd5fdf3ee4685e8f2a9f57c68c659"
  },
  "nodeGroups": [],
  "id": "8TPHBBICRLv5T985",
  "tags": []
}